.center-checkbox {
    text-align: center;
    vertical-align: middle;
    margin: 0;
}

.no-border-cell {
    border-bottom: 0;
}

.spacer {
    margin-bottom: 10rem;
}

.special-msg {
    font-size: 16px;
    font-variant: small-caps;
}

.error {
    font-style: bold;
    color: red;
}

.album-btn {
    margin: 0;
    width: 100%;
}