{{set . "title" "Home"}}

<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
  {{template "header.html" .}}
  <link rel="stylesheet" href="/public/css/photoswipe.css">
  <link rel="stylesheet" href="/public/css/default-skin/default-skin.css">
  <script src="/public/js/photoswipe.min.js"></script>
  <script src="/public/js/photoswipe-ui-default.min.js"></script>
</head>

<body>
  {{template "navbar.html" .}}

  <section class="section">
    <div class="container">

    </div>
  </section>

  {{template "footer.html" .}}
</body>

</html>