{{set . "title" "Home"}}

<!DOCTYPE html>
<html lang="en">

<head>
  {{template "header.html" .}}
</head>

<body>
  <section class="section">
    <div>
      <form action="/logout" method="POST">
        <div class="field is-grouped">
          <div class="control">
            <button type="submit" class="button is-danger">Logout</button>
          </div>
        </div>
      </form>
      <a href="/profile" class="button">profile</a>
    </div>
  </section>

  {{template "footer.html" .}}
</body>

</html>