{{ set . "title" "Home" }}

<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  <head>
    {{ template "header.html" . }}
    <link rel="stylesheet" href="/public/css/nanogallery2.min.css" />
    <link rel="stylesheet" href="/public/css/gallery.css" />
    <script src="/public/js/jquery.nanogallery2.min.js"></script>
  </head>

  <body>
    <!-- TODO: escape arguments -->

    {{ template "navbar.html" . }}

    <section class="section">
      <div class="container">
        <div id="nanogallery2"></div>
      </div>
    </section>

    {{ template "footer.html" . }}

    <script>
    jQuery(document).ready(function () {
      jQuery("#nanogallery2").nanogallery2({
        thumbnailHeight: 300,
        thumbnailWidth: "auto",
        itemsBaseURL: "/",

        items: [
          // {{range .Files}}
          { src: "file/{{.ID}}", srct: "thumb/{{.ID}}", title: "" },
          // {{end}}
        ],

        thumbnailHoverEffect2: "image_scale_1.20_1.00",
      });
    });
    </script>
  </body>
</html>
