{{set . "title" "Profile"}}

<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
  {{template "header.html" .}}
</head>

<body>
  {{template "navbar.html" .}}

  <section class="section">
    <div class="container is-max-desktop">
      {{if .flash.success}}
      <div class="notification is-primary is-light">
        <button class="delete"></button>
        {{.flash.success}}
      </div>
      <script src="/public/js/notification-close.js"></script>
      {{end}}
      {{if .flash.error}}
      <div class="notification is-danger is-light">
        <button class="delete"></button>
        {{.flash.error}}
      </div>
      <script src="/public/js/notification-close.js"></script>
      {{end}}

      <h1 class="title">
        Hello <span class="is-italic">{{if .User.Name}}{{.User.Name}}{{else}}?{{end}}</span>,
      </h1>
      <h2 class="subtitle is-4">
        you can edit your profile here.
      </h2>

      <div class="block">
        <form action="/profile" method="POST">
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Your Name</label>
                <div class="control has-icons-left has-icons-right">
                  <input name="name" class="input" type="text" value="{{.User.Name}}">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                  <input name="email" class="input" type="email" value="{{.User.Email}}">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button type="submit" class="button is-link">Save</button>
            </div>
          </div>

        </form>
      </div>

      <div class="block">
        <label class="label">Secret</label>
        <div class="control has-icons-left has-icons-right">
          <input disabled name="password" class="input" type="text" value="{{.User.Secret}}">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </div>
        <p class="help is-grey-dark">You cannot choose a secret but you can request a new one, which will be sent to you
          via mail.</p>
      </div>
      <button class="is-link button">Request Secret (TODO)</button>

    </div>

    </div>
  </section>

  {{template "footer.html" .}}
</body>

</html>