<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="language" content="english">
    <meta name="keywords" content=""/>
    <meta name="description" content="">
    <title>{{.TITLE}}</title>
    <link rel="shortcut icon" href="/public/images/favicon.png"/>
    
    <link href='/public/css/skeleton.css' rel='stylesheet' type='text/css'/>
    <link href='/public/css/style.css' rel='stylesheet' type='text/css'/>
</head>

<body>
    <main class="container">
        <h1><b>Lu</b>cid <b>I</b>mage <b>S</b>haring</h1>

        <div class="spacer"></div>

        {{if .ISBOSS}}
        <h2>Visitors</h2> 
        {{if .ERRORMSG}}
        <p class="error">{{.ERRORMSG}}</p>
        {{end}}
        <form action="/visitors/del" method="POST">
            {{if not .VISITORS}}
            <p class="special-msg">No visitors present in database.</p>
            {{else}}
            <table>
                <tr><th class="no-border-cell"></th><th>Visitor Name</th><th>ID</th><th>Visitor Link</th></tr>
                {{range $i, $v := .VISITORS}}
                <tr>
                    <td class="no-border-cell"><input class="center-checkbox" type="checkbox" name="{{$v.ID}}"></td>
                    <td>{{$v.Name}}</td>
                    <td>{{$v.ID}}</td>
                    <td><a href="http://muh.de">muh.de</a></td>
                </tr>
                {{end}}
            </table>

            <input class="button-primary" type="submit" value="Delete">
            {{end}}
        </form>
        

        <form action="/visitors/add" method="POST"> 
            Name:<br>
            <input type="text" name="name">
            <input class="button-primary" type="submit" value="Add">
        </form>
        {{end}} 

        <div class="spacer"></div>

        <h2>Albums</h2>
        <form action="/albums/del" method="POST">
            {{if not .ALBUMS}} 
            <p class="special-msg">No albums present in database.</p>
            {{else}}
            <table>
                <tr>{{if .ISBOSS}}<th class="no-border-cell"></th>{{end}}<th>Album</th><th>ID</th></tr>
                {{range $i, $a := .ALBUMS}}
                <tr>
                    {{if $.ISBOSS}}
                    <td class="no-border-cell"><input class="center-checkbox" type="checkbox" name="{{$a.ID}}"></td>
                    {{end}}
                    {{if $.ISBOSS}}
                    <td><a class="button album-btn" href="/album/{{.ID}}">{{$a.Name}}</a></td>
                    {{else}}
                    <td><a class="button button-primary album-btn" href="/album/{{$a.ID}}?v={{$.USERID}}">{{$a.Name}}</a></td>
                    {{end}}
                    <td>{{$a.ID}}</td>
                </tr>
                {{end}}
            </table>

                {{if .ISBOSS}}
            <input class="button-primary" type="submit" value="Delete">
                {{end}}
            {{end}}
        </form>

        {{if .ISBOSS}}
        <form action="/albums/add" method="POST">
            Name:<br>
            <input type="text" name="name">
            <input class="button-primary" type="submit" value="Add">
        </form>
        {{end}}
     
    </main>

</body>

</html> 