<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="language" content="english">
    <meta name="keywords" content=""/>
    <meta name="description" content="">
    <title>{{.TITLE}}</title>
    <link rel="shortcut icon" href="/public/images/favicon.png"/>

    <link href='/public/css/justifiedGallery.min.css' rel='stylesheet' type='text/css'/>
    <link href='/public/colorbox/colorbox.css' rel='stylesheet' type='text/css'/>

    <link href='/public/css/skeleton.css' rel='stylesheet' type='text/css'/>
    <link href='/public/css/style.css' rel='stylesheet' type='text/css'/>
</head>

<body>
    <main class="container">
        {{if .ISBOSS}}
        <h2>Allowed Visitors</h2>
        {{if .ERRORMSG}}
        <p class="error">{{.ERRORMSG}}</p>
        {{end}}
        <form action="/link/{{$.ALBUMID}}">
            {{if not .VISITORS}}
            <p class="special-msg">No visitors present in database.</p>
            {{else}}
            <select name="visitors" multiple>
            {{range $i, $v := .VISITORS}}
                <option value="{{$v.ID}}" {{if not index $.ALLOWED $v.ID}}selected{{end}}>{{$v.Name}}</option>
            {{end}}
            </select>
            <input type="submit">
            {{end}}
        </form>
        {{end}}
    </main>
    
    <div id="colorboxExample">
        <a href="/public/images/1.jpg">
            <img alt="title 1" src="/public/images/1t.jpg" /> 
        </a>
        <a href="/public/images/2.jpg">
            <img alt="title 2" src="/public/images/2t.jpg" />
        </a>
        <a href="/public/images/3.jpg">
            <img alt="title 3" src="/public/images/3t.jpg" />
        </a>
        <a href="/public/images/4.jpg">
            <img alt="title 4" src="/public/images/4t.jpg" />
        </a>
    </div>


    <script src="/public/js/jquery-3.2.1.min.js"></script>
    <script src="/public/js/jquery.justifiedGallery.min.js"></script>
    <script src="/public/colorbox/jquery.colorbox.min.js"></script>
    <script>
        $('#colorboxExample').justifiedGallery({
            lastRow : 'nojustify', 
            rowHeight : 300, 
            rel : 'gallery1', //replace with 'gallery1' the rel attribute of each link
            margins : 10
        }).on('jg.complete', function () {
            $(this).find('a').colorbox({
                maxWidth : '80%',
                maxHeight : '80%',
                opacity : 0.8,
                transition : 'elastic',
                current : ''
            });
        });
    </script>
</body>

</html> 